/* ---------------------mobile */
.margpad{
  text-align: center;
  margin: 0 auto;
}
.a{
  background-color: aliceblue;
  padding: 5%;
  width: 80%;
}

.b{
  background-color: rgb(79, 162, 195);
  padding: 10%;
  width: 70%;
}
.c{
  background-color: rgb(15, 83, 47);
  padding: 8%;
  width: 74.08%;
}
.d{
  background-color: brown;
  padding: 8%;
  width: 74.08%;
}
.e{
  background-color: rgb(99, 156, 34);
  
}
.f{
  background-color: rgb(42, 44, 80);
}

.e-f-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.e-f-container div{
  width: 50%;
  padding: 20%;
}

.g{
  background-color: rgb(194, 119, 49);
}
.h{
  background-color: rgb(8, 251, 251);
}
.all-efgh{
  margin: 0;
}
.g-h-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.g-h-container div{
  width: 50%;
  padding: 20%;
}
.i{
  background-color: rgb(78, 98, 136);
  padding: 6%;
  width: 78%;

}




/*---------------------desktop*/
@media only screen and (min-width: 768px){
  .master{
    margin: 0 auto;
    width: 960px;
    height: 700px;
    border: none;
  }

  .a{
    background-color: aliceblue;
    width: 100%;
    height: 14.28%;
    text-align: center;
  }
  .b{
    width: 21%;
    /* width: 100px; */
    height: 91%;
    background-color: rgb(79, 162, 195);
    float: left;
    text-align: center;

  }
  .c{
    background-color: rgb(15, 83, 47);
  }
  .d{
    background-color: brown;
  }

  .e{
    background-color: orange;
  }

  .f{
    background-color: blueviolet;
  }
  .g{
    background-color: rgb(194, 119, 49);
  }
  .h{
    background-color: rgb(8, 251, 251);
  }
  .i{
    background-color: rgb(78, 98, 136);
    width: 78.5%;
    height: 21%;
    float: left;
  }

  .c-d{
    float: left;
    /* border: none; */
    width: 39.1894%;
    height: 35%;
  }

  .all-efgh{
    float: left;
    width: 50%;
    height: 90%;
  }
  .e-f-container{
    width: 39.15%;
    height: 35%;
    float: left;
  }
  .g-h-container{
    width: 39.15%;
    height: 35%;
    float: left;
  }

  .margpad{
    margin: 0;
    padding: 0;  
    text-align: center;
  }
}
